ol {
    text-align: center;
    font-family: "Century Gothic", Helvetica, sans-serif;
    color:rgb(0, 130, 178);
    font-size: 1.6em;
    line-height: 200%;
}

/*Animation to make the Make Schedule button look like it's pulsing*/
.li1 {
    transition-delay: 2s;
    -webkit-animation: fader 2s infinite  alternate;
    animation: fader 2s infinite  alternate;
}


@-webkit-keyframes fader {
0%,100% { opacity: 0.5 }
  50% { opacity: 1 }
}
@keyframes fader {
0%,100% { opacity: 0.5 }
  50% { opacity: 1 }
}
