/* Font and Color */
h1, p, input, .form, .Submit, .reset, a{
    font-family: "Century Gothic", Helvetica, sans-serif;
    color:rgb(0, 130, 178);
}

p {
    font-weight: bold;
}

.questions {
    font-size: 2.5em;
}

.answers {
    font-size: 1.5em;
}

img {
    width: 180px;
}

.form {
    font-weight: bold;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 1%;
    
    padding-top: 3%;
    padding-bottom: 3%;
    
    border-style: solid;
    border-width: 5px;
    border-radius: 15px;
}

body {
    text-align: center;
}

.enter {
    font-size: 1.75em;
    width: 60%;
    padding-top: 1%;
    padding-bottom: 1%;
    word-wrap: break-word;
}

a {
    text-decoration: none;
}

a:hover {
    color: rgb(100, 130, 178);
}





