h1 {
    font-family: "Arial";
    color:rgb(0, 130, 178);
}

p {
    font-family: "Arial";
    font-weight: bold;
    color:rgb(0, 130, 178);
}

img {
    width: 200px;
}

.form {
    font-family: "Arial";
    font-weight: bold;
    color:rgb(0, 130, 178);
}

.guessSubmit {
    color:rgb(0, 130, 178);
}

body {
    text-align: center;
}