/*Button visuals stuff*/
button {
  outline: none;
}
button::-moz-focus-inner {
  border: 0;
}
a {
  text-decoration: none;
  color:#3abfd1;
}
a:hover {
  color: #278491;
}


/*Font stuff*/
div {
  font-family: Roboto, Arial, sans-serif;
}
.title-font, .large-size-font {
  font-family: Hind;
  font-weight: 600;
}
.title-font {
  font-size: 1.75em;
  color: #1d1d1d;
}
.parag-font {
  line-height: 1.5em;
  font-size: 1.3rem;
}
.large-size-font {
  font-size: 3em;
}
.caption-text {
  font-size: 0.85em;
  font-weight: bold;
}
.subtitle-link-font {
  font-size: 1.5em;
  font-weight: 600;
}



/*Centering boilerplate*/
.centered-items {
  text-align: center;
}


/*Spacer*/
.vertical-spacer {
  height: 25px;
}


/*Grid stuff*/
.grid-wrapper1 {
  display: grid;
  grid-template-columns: 2fr 8fr 2fr;
  grid-column-gap:20px;
}



/*Image and button stylings*/
.image-button {
  filter: grayscale(0%);
  outline: none;
  border: none;
  background: none;
  cursor: pointer;
}
.image-button:hover {
  filter:brightness(70%);
}
.button-in-menu {
  height: 7.5em;
}
.image-in-desc {
  height: 12em;
}
.circle-image {
  border-radius: 50%;
}
.primer-image {
  width:90%;
  border: 0.2em solid black;
  height: auto;
  cursor: pointer;
}
.primer-image:hover {
  filter:invert(15%);
}
.death-image {
  width:50%;
  border: 0.2em solid black;
  height: auto;
  cursor: pointer;
}

/*Hides the text so they can all show up in sequence upon being clicked*/
.desc {
  display: none;
  max-width: 45rem;
  margin: auto;
}


/*Trying to be mobile-friendly. Buttons disappear, and all options appear on mobile*/
@media (max-width:640px) {
  .hidden-on-mobile {
    display: none;
  }
  .show-on-mobile {
    display: block;
  }
}

/* Modal properties */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0; 
    height: 100%; /* Full height */
    width: 100%;
    background-color: rgb(0,0,0);
    padding-top: 3rem;
    padding-bottom: 3rem;
}
.modal-holder {
    margin: auto;
}
.modal-image {
  max-height: 90vh;
  max-width: 90vw;
}

/* The Close Button */
.close {
    position: absolute;
    top: 5px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: rgb(167, 166, 166);
    text-decoration: none;
    cursor: pointer;
}
