/*Variable declaration for the number of buttons*/
:root {
  --number-of-buttons : 3
}

.hidden {
  display: none;
}

.grid-wrapper1 {
  display: grid;
  /*Edit the columns here if you want to add more buttons later on*/
  grid-template-columns: 1fr 11fr;
  grid-column-gap:20px;
}

.grid-wrapper2 {
  display: grid;
  /*Edit the columns here if you want to add more buttons later on*/
  grid-template-rows: repeat(var(--number-of-buttons), 1fr);
  grid-row-gap:20px;
}

.grid-wrapper3 {
  display: grid;
  /*Edit the columns here if you want to add more buttons later on*/
  grid-template-rows: repeat(var(--number-of-buttons), 1fr);
  grid-row-gap:20px;
}



.image-button {
  filter: grayscale(100%);
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}

.image-button:hover {
  filter: grayscale(0%);
}

.button-in-menu {
  height: 7.5em;
}
