/*Variable declaration for the number of buttons*/
:root {
  --number-of-buttons : 3
}

.defaultfont {
  font-family: "Avenir-Roman", "Century Gothic", Verdana, sans-serif;
}


.grid-wrapper1 {
  display: grid;
  /*Edit the columns here if you want to add more buttons later on*/
  grid-template-columns: 1fr 11fr;
  grid-column-gap:20px;
}

.grid-wrapper2 {
  display: grid;
  /*Edit the columns here if you want to add more buttons later on*/
  grid-template-rows: repeat(var(--number-of-buttons), 1fr);
  grid-row-gap:20px;
}

.grid-wrapper3 {
  display: grid;
  /*Edit the columns here if you want to add more buttons later on*/
  grid-template-rows: repeat(var(--number-of-buttons), 1fr);
  grid-row-gap:20px;
}


.image-button {
  filter: grayscale(100%);
  outline: none;
  border: none;
  background: none;
  cursor: pointer;
}

.image-button:hover {
  filter: grayscale(50%);
}

.button-in-menu {
  height: 7.5em;
}


/*Hides the text so they can all show up in sequence*/
.desc-text {
  display: none;
}
